<div class="jumbotron text-center">
  <h4 class="titulo"> <u>PRUEBA TU SUERTE Y TIRA LOS DADOS !</u> </h4>
  <img [ngClass]="{'dadoAzul': colorDado === 1,'dadoRojo': colorDado === 2,'dadoVerde': colorDado === 3}" [src]="dadoIzquierda" class="img">
  <img [ngClass]="{'dadoAzul': colorDado === 1,'dadoRojo': colorDado === 2,'dadoVerde': colorDado === 3}" [src]="dadoDerecha" class="img">
  <div class="progress w-50 mx-auto">
    <div class="progress-bar progress-bar-striped progress-bar-animated " [ngClass]="{'bg': colorDado === 1,'bg-danger': colorDado === 2,'bg-success': colorDado === 3}"
      [style.width]="contador + '%'"
    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <button [ngClass]="{'btn-primary': colorDado === 1,'btn-danger': colorDado === 2,'btn-success': colorDado === 3}"
   [disabled]="!tirar" class="btn btn-primary btn-lg mt-4 mb-2" (click)="tirarDados()">Tirar</button>
  <br>
  <div *ngIf="colorDado === 3 ">
    <h1><span class="badge bg-success mt-5 ">GANASTE !</span></h1>
  </div>
  <div *ngIf="colorDado === 2">
    <h1><span class="badge bg-danger mt-5">Intenta de nuevo !</span></h1>
  </div>
</div>
